# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order
/Resources/ConfigPresets/WizardsDen/  @Chief-Engineer

# Ping for all PRs that include translations/editing fluent strings
*.ftl @ficcialfaint
